agent-framework-azure-ai
agent-framework-core
azure-ai-agentserver-core
azure-ai-agentserver-agentframework
azure-identity
python-dotenv
aiohttp
openai
fastapi>=0.115.0
uvicorn[standard]>=0.32.0
azure-monitor-opentelemetry-exporter
azure-ai-evaluation
